body {

    background-color: #f4f6f9;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*
Menu*/

.sidebar {

    width: 260px;

    height: 100vh;

    position: fixed;

    background: #1e293b;

    padding-top: 20px;

    box-shadow: 4px 0 10px rgba(0,0,0,0.05);

}

.sidebar h4 {

    color: white;

    text-align: center;

    margin-bottom: 30px;

    font-weight: bold;

}

.sidebar a {

    display: block;

    color: #cbd5e1;

    text-decoration: none;

    padding: 14px 25px;

    margin: 5px 15px;

    border-radius: 10px;

    transition: 0.3s;

    font-size: 15px;

}

.sidebar a:hover {

    background: #334155;

    color: white;

}

.sidebar a.active {

    background: #2563eb;

    color: white;

}



.main-content {

    margin-left: 260px;

    padding: 30px;

}



.card-dashboard {

    border: none;

    border-radius: 18px;

    transition: 0.3s;

    overflow: hidden;

    box-shadow: 0 4px 12px rgba(0,0,0,0.06);

}

.card-dashboard:hover {

    transform: translateY(-4px);

}

.card-dashboard .card-body {

    padding: 30px;

}

.card-dashboard h5 {

    font-size: 16px;

    opacity: 0.9;

}

.card-dashboard h1 {

    font-size: 3rem;

    font-weight: bold;

}



.table {

    vertical-align: middle;

}

.table thead {

    background: #1e293b;

    color: white;

}

.table thead th {

    border: none;

}

.table tbody tr {

    transition: 0.2s;

}

.table tbody tr:hover {

    background-color: #f8fafc;

}



.card {

    border: none;

    border-radius: 18px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.05);

}

/*
Botones*/

.btn {

    border-radius: 10px;

    font-weight: 500;

}

.btn-primary {

    background: #2563eb;

    border: none;

}

.btn-primary:hover {

    background: #1d4ed8;

}

/*
Forms*/

.form-control,
.form-select {

    border-radius: 10px;

    padding: 10px;

}

.form-control:focus,
.form-select:focus {

    box-shadow: none;

    border-color: #2563eb;

}

/*badges
*/

.badge {

    padding: 8px 10px;

    border-radius: 8px;

}

/* dashboard
*/

.card-total {

    background: #3b82f6;
    color: white;

}

.card-disponible {

    background: #10b981;
    color: white;

}

.card-asignado {

    background: #f59e0b;
    color: white;

}

.card-reparacion {

    background: #8b5cf6;
    color: white;

}

.card-baja {

    background: #ef4444;
    color: white;

}

.card-trabajadores {

    background: #334155;
    color: white;

}


/* LOGIn */

.login-body {

    background:
    linear-gradient(
    135deg,
    #f8fafc,
    #e2e8f0
    );

}

.login-card {

    border: none;

    border-radius: 22px;

    box-shadow:
    0 12px 30px rgba(0,0,0,0.08);

}

.login-logo {

    width: 220px;
    height: auto;

}

.sidebar-logo {

    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;

}